*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	background-image: url("../image/Copia de Landscape.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
}

@media (max-width: 850px){
	.container{
		background-image: url("../image/Copia de dawn.png");
	}
		
}

@media (max-width: 450px){
	.container{
		background-image: url("../image/Copia de maxresdefault.jpg");
	}
		
}

img{
	width: 100%;
	height: auto;
}